<section id="categorias-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
            </div>
        </div>
    </div>
    <div class="full-bleed-scroller">
				<div class="cont-cont-categorias-home">
					<div class="categorias-home-cont scrollnegro-h">
						<figure class="categoria-destacada-item">
							<div class="cont-img" style="background-image: url('{{ 'collection-zapatillas.png' | asset_url }}');"></div>
							<a href="{{ routes.root_url }}collections/calzado">
								<h3>Calzado</h3>
								<span class="cta"></span>
							</a>
						</figure>
						<figure class="categoria-destacada-item">
							<div class="cont-img" style="background-image: url('{{ 'collection-compresion.png' | asset_url }}');"></div>
							<a href="{{ routes.root_url }}collections/compresion">
								<h3>Compresión</h3>
								<span class="cta"></span>
							</a>
						</figure>
						<figure class="categoria-destacada-item">
							<div class="cont-img" style="background-image: url('{{ 'collection-indumentaria.jpg' | asset_url }}');"></div>
							<a href="{{ routes.root_url }}collections/indumentaria">
								<h3>Indumentaria</h3>
								<span class="cta"></span>
							</a>
						</figure>
					</div>
				</div>
    </div>
    <div class="container">
</section>

{% schema %}
{
	"name": "Categorías destacadas",
	"settings": [],
	"presets": [
		{
			"name": "Categorías destacadas home"
		}
	]

}
{% endschema %}