<footer section id="footer-rico">
  {% comment %} <section id="ultimos-contenidos">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Últimos contenidos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="cont-cont-signatures">
            <div class="signatures-home-cont scrollblanco-h">
              {% for contenido in shop.metaobjects.contenido_redes_sociales.values %}
              <figure class="categoria-destacada-item open-iframe-redes" data-iframe="{{contenido.id_de_reel.value}}">
                <div class="cont-img" style="background-image: url('{{ contenido.imagen.value | image_url }}');"></div>
                  <div class="cont-cta">
                    <span class="cta"></span>
                  </div>
              </figure>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section> {% endcomment %} 

  <section id="amigos-de-la-casa">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Amigos de la casa</h2>
        </div>
      </div>
      </div> <!-- Close container for title -->
    
    <div class="full-bleed-scroller">
        <div class="signatures-home-cont scrollblanco-h">
            {% for amigo in shop.metaobjects.amigos_de_la_casa.values %}<figure class="categoria-destacada-item">
            <div class="cont-img" style="background-image: url('{{ amigo.foto.value | image_url }}');"></div>
            <div class="cont-cta">
                <div class="cont-text">
                <p>“{{ amigo.resena.value }}”</p>
                <span class="autor">{{ amigo.nombre.value }}</span>
                </div>
            </div>
            </figure>{% endfor %}
        </div>
    </div>
    <div class="container container-scrollbar">
		<div class="row">
			<div class="col-12">
				<div class="custom-scroll-track">
					<div class="custom-scroll-thumb"></div>
				</div>
			</div>
		</div>
	</div>

  </section>

  <section class="por-que-elegirnos">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>¿Por qué elegirnos?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <figure style="background-image:url('{{ 'footer-ico-originales.svg' | asset_url }}');"></figure>
              <h4><strong>Productos originales</strong><br> traidos de USA</h4>
            </li>
            <li>
              <figure style="background-image:url('{{ 'footer-ico-calidad.svg' | asset_url }}');"></figure>
              <h4><strong>Calidad seleccionada</strong><br> por deportistas</h4>
            </li>
            <li>
              <figure style="background-image:url('{{ 'footer-ico-asesoramiento.svg' | asset_url }}');"></figure>
              <h4><strong>Asesoramiento</strong> pre-compra<br> y post-compra</h4>
            </li>
            <li>
              <figure style="background-image:url('{{ 'footer-ico-devolucion.svg' | asset_url }}');"></figure>
              <h4><strong>Método de devolución</strong><br> simple y accesible</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="nav-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cont-nav">
            <div class="rico-club-cont">
              <h2>RicoClub</h2>
              <p>Enterate de los nuevos ingresos, códigos de descuento exclusivos y todas las novedades suscribiéndote gratis a RicoClub.</p>
              {%- if section.settings.newsletter_enable -%}
                <div class="footer-block__newsletter">
                  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="field">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="field__input"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="ContactFooter-success"
                          {% endif %}
                          placeholder="{{ 'newsletter.label' | t }}"
                          required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                        <button
                          type="submit"
                          class="newsletter-form__button field__button"
                          name="commit"
                          id="Subscribe"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          <span class="svg-wrapper">
                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                          </span>
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="ContactFooter-error">
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                      <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="ContactFooter-success"
                        tabindex="-1"
                        autofocus
                      >
                        <span class="svg-wrapper">
                          {{- 'icon-success.svg' | inline_asset_content -}}
                        </span>
                        {{- 'newsletter.success' | t }}
                      </h3>
                    {%- endif -%}
                  {%- endform -%}
                </div>
              {%- endif -%}
            </div> 
            <div class="lista-cont">
              <h3>¿Necesitás ayuda?</h3>
              <ul class="necesitas-ayuda">
                <li><a href="#" class="open-guia-talles-variantes">Guía de talles</a></li>
                <li><a href="{{ routes.root_url }}pages/ayuda">Envío y entrega</a></li>
                <li><a href="{{ routes.root_url }}pages/ayuda">Devoluciones</a></li>
                <li><a href="{{ routes.root_url }}pages/ayuda">Opciones de pago</a></li>
                <li><a href="{{ routes.root_url }}pages/ayuda">Necesito ayuda</a></li>
              </ul>
            </div>
            <div class="lista-cont">
              <h3>Sobre Rico</h3>
              <ul class="sobre-rico">
                <li><a href="{{ routes.root_url }}pages/nosotros">Nosotros</a></li>
                <li><a href="https://www.instagram.com/ricoseller.outlet/" target="_blank">Outlet</a></li>
                <!-- <li><a href="#">Equipo</a></li>
                <li><a href="#">Propósito</a></li> -->
              </ul>
            </div>
            <div class="redes-cont">
              <div class="logo-footer-mobile"></div>  
              <a href="https://www.facebook.com/profile.php?id=100091335592720" target="_blank"><i class="facebook"></i></a>
              <a href="https://www.tiktok.com/@ricoseller" target="_blank"><i class="tiktok"></i></a>
              <a href="https://www.instagram.com/ricoseller" target="_blank"><i class="instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo-footer">
          <div class="gradient01"></div>
          <div class="gradient02"></div>
          <div class="gradient03"></div>
          <img src="{{ 'footer-rico-logo.svg' | asset_url }}" class="logo">
        </div>

        <div class="copy-cont">
          <div>
            <p>© 2024 Ricoseller. Todos los derechos reservados</p>
          </div>
          <div>
            <a href="{{ routes.root_url }}pages/politicas-de-privacidad">Políticas de privacidad</a>
            <a href="{{ routes.root_url }}pages/terminos-de-uso">Términos de uso</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="barra-autor">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span>Rico x Muta Studio 🐷</span>
      </div>
    </div>
  </div>
</div>

<div class="modal-default modal-iframe-redes">
  <div class="modal">
    <div class="cerrar"></div>
    <div class="content scrollnegro">
    </div>
  </div>
</div>

<div class="modal-default modal-guia-de-talles">
  <div class="modal">
    <div class="cerrar"></div>
    <div class="content">
      <h3>Guía de talles</h3>
      <p>Encuentra tu talla en la tabla de abajo. Si no sabes cuál es, sigue las instrucciones para tomar las medidas del pie que hay al final de la guía de tallas y encuentra tu talla perfecta. Ten en cuenta que la talla en centímetros que se muestra en las cajas de zapatillas y etiquetas es diferente de la longitud del pie (en centímetros).</p>
      <table>
        <tbody><tr>
          <th>USA</th>
          <th>CM</th>
          <th>Argentina</th>
        </tr>
        <tr>
          <td>3</td>
          <td>21.5</td>
          <td>34</td>
        </tr>
        <tr>
          <td>3.5</td>
          <td>22</td>
          <td>35</td>
        </tr>
        <tr>
          <td>4</td>
          <td>22.5</td>
          <td>35.5</td>
        </tr>
        <tr>
          <td>4.5</td>
          <td>23</td>
          <td>36</td>
        </tr>
        <tr>
          <td>5</td>
          <td>23.5</td>
          <td>37</td>
        </tr>
        <tr>
          <td>5.5</td>
          <td>24</td>
          <td>37.5</td>
        </tr>
        <tr>
          <td>6</td>
          <td>24</td>
          <td>38</td>
        </tr>
        <tr>
          <td>6.5</td>
          <td>24.5</td>
          <td>38.5</td>
        </tr>
        <tr>
          <td>7</td>
          <td>25</td>
          <td>39</td>
        </tr>
        <tr>
          <td>7.5</td>
          <td>25.5</td>
          <td>39.5</td>
        </tr>
        <tr>
          <td>8</td>
          <td>26</td>
          <td>40</td>
        </tr>
        <tr>
          <td>8.5</td>
          <td>26.5</td>
          <td>41</td>
        </tr>
        <tr>
          <td>9</td>
          <td>27</td>
          <td>41.5</td>
        </tr>
        <tr>
          <td>9.5</td>
          <td>27.5</td>
          <td>42</td>
        </tr>
        <tr>
          <td>10</td>
          <td>28</td>
          <td>43</td>
        </tr>
        <tr>
          <td>10.5</td>
          <td>28.5</td>
          <td>43.5</td>
        </tr>
        <tr>
          <td>11</td>
          <td>29</td>
          <td>44</td>
        </tr>
        <tr>
          <td>11.5</td>
          <td>29.5</td>
          <td>44.5</td>
        </tr>
        <tr>
          <td>12</td>
          <td>30</td>
          <td>45</td>
        </tr>
        <tr>
          <td>12.5</td>
          <td>30.5</td>
          <td>45.5</td>
        </tr>
        <tr>
          <td>13</td>
          <td>31</td>
          <td>46</td>
        </tr>
        <tr>
          <td>13.5</td>
          <td>31.5</td>
          <td>46.5</td>
        </tr>
        <tr>
          <td>14</td>
          <td>32</td>
          <td>47</td>
        </tr>
        <tr>
          <td>14.5</td>
          <td>32.5</td>
          <td>47.5</td>
        </tr>
        <tr>
          <td>15</td>
          <td>33</td>
          <td>48</td>
        </tr>
        <tr>
          <td>15.5</td>
          <td>33.5</td>
          <td>48.5</td>
        </tr>
      </tbody></table>

      <h4>Cómo tomar las medidas de la longitud del pie</h4>
      <p>Pega un trozo de papel a una superficie plana y resistente y asegúrate de que el papel no se mueve. Coloca un pie sobre el papel, con los pies separados a la altura de los hombros y el peso distribuido de manera uniforme. Con un boli o lápiz en posición completamente vertical, pide ayuda a otra persona para que marque la punta del dedo gordo y la parte más saliente del talón. Cuando estén las marcas hechas, quita el pie del papel y mide la distancia entre ambos puntos con una regla o cinta métrica. Esta medida es la longitud del pie. Repite el proceso con el otro pie. Es habitual que la longitud de cada pie sea ligeramente diferente. Consulta la guía de tallas y busca la talla correspondiente a la medida más larga entre las dos que has tomado. Si está entre dos tallas, te recomendamos pedir la más grande.</p>
    </div>
  </div>
</div>

<div class="menu-mobile">
  <div class="contenedor">
    <span class="cerrar"></span>
    <ul class="nav-mobile">
      {% for link in linklists.main-menu.links %}
      <li {%- if link.child_active %} class="header__active-menu-item"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>


{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
