<section id="marcas-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="marcas-cont">
					<ul>
						<li class="marca-item nike">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-nike-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item adidas">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-adidas-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item jordan">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-jordan-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item under-armour">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-under-armour-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item puma">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-puma-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item nb">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-nb-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
						<li class="marca-item converse">
							<a href="#">
								<figure style="background-image: url('{{ 'marca-converse-b.svg' | asset_url }}');">
								</figure>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Marcas slider",
	"settings": [],
	"presets": [
		{
			"name": "Marcas slider home"
		}
	]

}
{% endschema %}