<section id="signatures-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="h2home">Signatures</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="signatures-home-cont">
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'signature-luka-doncic.jpg' | asset_url }}');">
						<a href="#">
							<h3>Luka Doncic</h3>
							<span class="cta"><img src="{{ 'marca-jordan-bl.svg' | asset_url }}"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'signature-jayson-tatum.jpg' | asset_url }}');">
						<a href="#">
							<h3>Jayson Tatum</h3>
							<span class="cta"><img src="{{ 'marca-jordan-bl.svg' | asset_url }}"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'signature-stephen-curry.jpg' | asset_url }}');">
						<a href="#">
							<h3>Stephen Curry</h3>
							<span class="cta"><img src="{{ 'marca-under-armour-bl.svg' | asset_url }}"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'signature-lebron-james.jpg' | asset_url }}');">
						<a href="#">
							<h3>LeBron James</h3>
							<span class="cta"><img src="{{ 'marca-nike-bl.svg' | asset_url }}"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'signature-devin-booker.jpg' | asset_url }}');">
						<a href="#">
							<h3>Devin Booker</h3>
							<span class="cta"><img src="{{ 'marca-jordan-bl.svg' | asset_url }}"></span>
						</a>
					</figure>
				</div>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Signatures",
	"settings": [],
	"presets": [
		{
			"name": "Signatures home"
		}
	]

}
{% endschema %}